<%- include("header") -%>

<h2>This is the about page</h2>

<p>ya finally i did it i deployed my second app with node mongo atlas and heroku yeh :) Happy lets see we can build more complex or not</p>

<%- include("footer") -%>
